body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    color: aliceblue;
    background: #7c7c7c;
    height: 54px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.headerText {
    padding-top: 16px;
    height: 30px;
}

.subHeader {
    color: aliceblue;
    background: #262626;
    font-size: 10pt;
    font-weight: bold;
    height: 28px;
    text-align: center;
    margin: 0;
    padding-top: 9px;
}

.subHeader input, #inviteLabel {
    float: left;
    height: 20px;
    border: 2px;
    margin-left: 5px;
}

.subHeader label {
    display: block;
    float: right;
    padding-right: 10px;
}

.mainContent {
    padding: 10px;
}

h1 {
    text-align: center;
}

#inviteCopy {
    height: 22px;
}

#inviteLink {
    width: 40em;
}

#startPolling {
    margin: auto;
    display: block;
}

#polling {
    display: none;
}

#nameError {
    color: red;
    display: none;
}

#statistics {
    display: none;
}
#votes {
    display: grid;
}

#votesBar {
    display: table;
    margin-left: 140px;
    margin-right: 0px;
}

.voteVariant {
    padding: 0;
    width: 130px;
    height: 27px;
    text-align: center;
    border-style: solid;
    border-color: #c3c3c3;
    border-width: 1px;
    display: table-cell;
    vertical-align: middle;
    margin: 1px;
}

.selectedVariant {
    width: 130px;
    height: 27px;
    text-align: center;
    border-style: solid;
    border-color: #c3c3c3;
    border-width: 1px;
    display: table-cell;
    vertical-align: middle;
    margin: 1px;
    background: #5dbf57;
    color: white;
}

.voteVariant:hover {
    background: #b5f6b3;
    color: #3b3b3b;
    cursor: pointer;
}

.unselectableVariant {
    !important;
    background: #bec8b5;
    color: white;
    border-color: #fdfdfd;
}

.unselectableVariant:hover {
    !important;
    background: #bec8b5;
    border-color: white;
    cursor: initial;
}

.nameRect {
    width: 130px;
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-right: 4px;
}