body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    color: aliceblue;
    background: #7c7c7c;
    height: 54px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.headerText {
    padding-top: 16px;
    height: 30px;
}

.subHeader {
    color: aliceblue;
    background: #262626;
    font-size: 10pt;
    font-weight: bold;
    height: 28px;
    text-align: center;
    margin: 0;
    padding-top: 9px;
}

.subHeader input, #inviteLabel {
    float: left;
    height: 20px;
    border: 2px;
    margin-left: 5px;
}

.subHeader label {
    display: block;
    float: right;
    padding-right: 10px;
}

.mainContent {
    padding: 10px;
}

h1 {
    text-align: center;
}

#inviteCopy {
    height: 22px;
}

#inviteLink {
    width: 40em;
}

#startPolling {
    margin: auto;
    display: block;
}

#polling {
    display: none;
}

#nameError {
    color: red;
    visibility: hidden
}

#statistics {
    display: none;
}
#votes {
    display: grid;
}

#votesBar {
    display: table;
    margin-left: 200px;
    margin-right: 30px;
}
.voteVariant {
    padding: 0;
    width: 130px;
    height: 27px;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    display: table-cell;
    vertical-align: middle;
}

.voteVariant:hover {
    border-color: #5dbf57;
    cursor: pointer;
}

.selectedVariant {
    background: #5dbf57;
    color: white;
}

.nameRect {
    width: 200px;
    height: 27px;
    background: #d93535;
    margin-top: 3px;
    padding-top: 7px;
    text-align: center;
}