<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Голосовалка</title>
    <link href="{{ url_for('static', path='/styles/style.css') }}" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!--    <script src="{{ url_for('static', path='/script/jquery.min.js') }}" ></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <div class="headerText">Голосовалка. Сессия: {{ id }}</div>
</div>

<div class="subHeader">
    {% if isMaster == true %}
    <label>Ты ведущий</label>
    {% else %}
    <label>Ты гость</label>
    {% endif %}
    <label for="inviteLink" id="inviteLabel">Ссылка для приглашения</label><input id="inviteLink" type="text">
    <input id="inviteCopy" type="button" value="копировать">
</div>

<div class="mainContent">
    <div id="authority">
        <p>Введите имя</p>
        <input id="fieldName" maxlength="20" type="text">
        <input onclick="connect()" type="button" value="Сохранить">
        <p id="nameError">Указанное имя уже используется</p>
    </div>
    <br/>
    <div id="polling">
        {% if isMaster == true %}
        <input onclick="showResults()" type="button" value="Показать результаты">
        <input onclick="resetResults()" type="button" value="Сброс">
        <br/>
        <br/>
        {% endif %}
        <br/>
        <p>Участников: <b><label id="membersNumber"></label></b></p>
        <hr>
        <div id="votes">
            <div id="votesBar">
                <div class="voteVariant">0</div>
                <div class="voteVariant">1</div>
                <div class="voteVariant">2</div>
                <div class="voteVariant">3</div>
                <div class="voteVariant">5</div>
                <div class="voteVariant">8</div>
                <div class="voteVariant">13</div>
                <div class="voteVariant">21</div>
                <div class="voteVariant">34</div>
                <div class="voteVariant">55</div>
                <div class="voteVariant">89</div>
                <div class="voteVariant">∞</div>
            </div>
            <div id="members"></div>
        </div>

        <div id="statistics">
            <hr>
            <p><b>Среднее арифметичекое: </b><label id="mean"></label></p>
            <p><b>Распределение: </b></p>
            <label id="dispersion"><stub></stub></label>
        </div>
    </div>

</div>
<script src="{{ url_for('static', path='/script/session.js') }}"></script>
<script src="{{ url_for('static', path='/script/main.js') }}"></script>
<script src="{{ url_for('static', path='/script/system.js') }}"></script>
</body>
</html>