<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Голосовалка</title>
    <link href="{{ url_for('static', path='/styles/style.css') }}" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="headerText">Голосовалка. Сессия: {{ id }}</div>
</div>

<div class="subHeader">
    {% if isMaster == true %}
        <label>You are master</label>
    {% else %}
        <label>You are guest</label>
    {% endif %}
    <input id="inviteCopy" onclick="myFunction()" type="button" value="копировать">
    <input id="inviteLink" type="text">
</div>

<div class="mainContent">
    <div id="authority">
        <p>Введите имя</p>
        <input id="fieldName" type="text">
        <input type="button" value="Сохранить" onclick="connect()">
        <p id="nameError">Указанное имя уже используется</p>
    </div>
    <br/>
    <div id="polling">
        {% if isMaster == true %}
            <input type="button" onclick="showResults()" value="SHOW">
            <input type="button" onclick="resetResults()" value="RESET">
            <br/>
            <br/>
        {% endif %}
        <input type="button" onclick="sendVote(0)" value="0">
        <input type="button" onclick="sendVote(1)" value="1">
        <input type="button" onclick="sendVote(2)" value="2">
        <input type="button" onclick="sendVote(3)" value="3">
        <input type="button" onclick="sendVote(5)" value="5">
        <input type="button" onclick="sendVote(8)" value="8">
        <input type="button" onclick="sendVote(13)" value="13">
        <input type="button" onclick="sendVote(21)" value="21">
        <input type="button" onclick="sendVote(34)" value="34">
        <input type="button" onclick="sendVote(55)" value="55">
        <input type="button" onclick="sendVote(89)" value="89">
        <input type="button" onclick="sendVote(-1)" value="∞">
        <p>Участники:</p>
        <div id="votes"></div>
        <div id="statistics">
            <hr>
            <p><b>Среднее арифметичекое: </b><label id="mid"></label></p>
            <p><b>Распределение: </b></p>
            <label id="dispersion"></label>
            </div>
    </div>

</div>
<script src="{{ url_for('static', path='/script/session.js') }}"></script>
<script src="{{ url_for('static', path='/script/main.js') }}"></script>
</body>
</html>